.button-store{
    display: inline-block;
    width: 200px;
    height: 60px;
    line-height: 56px;
    border: 2px solid #fff;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
    font-family: Arial, 'Roboto', Verdana, sans-serif;
    color: #fff;
    border-radius: 1px;
    text-decoration: none;
    margin-right: 38px;
    cursor: pointer;
}

.button-store.-buy{
    background-color: #252c41;
    border: none;
    line-height: 60px;
}

.button-store.-addCart{
    background-color: transparent;
    width: 220px;
}

.button-store > button,
.button-store > a {
    font-size: inherit;
    background-color: inherit;
    border: none;
    color: inherit;
    text-decoration: inherit;
}

.button-store.-buy:hover {
    background-color: #fff;
    color: #252c41;
}

.button-store.-addCart:hover{
    background-color: #fff;
    color: #ff2e63;
    width: 220px;
    
}
