.button{
    display: inline-block;
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    font-family: Arial, 'Roboto', Verdana, sans-serif;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 1px;
    text-decoration: none;
    margin-right: 38px;
    padding: 0px 20px;

}

.buy{
    background-color: #252c41;
    border-color: #252c41;
    padding: 0px;
}
