.container-store{
    background-color: #e24647;    
    width: 80%;
    padding: 55px 60px 95px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* É possivel fazer tbm desta forma --> transform: translateX(-50%) translateY(-50%); */
    box-shadow: 0 0 39px 0 rgba(50, 50, 50, 0.36);
}