.figure-store{
    /* float: left; */
    display: inline-block;
    background-color: #fff;
    width: 600px;
    height: 570px;
    border-radius: 0px 150px 150px 0px;
    transform: translateX(-60px);
    vertical-align: middle;
    margin-right: 156px;
}

.icon-fone{
    margin-left: 105px;
    padding-top: 25px;
}