/*Guardar duas cores pra usar depois #6262ff e #da62ff*/
.header-store{
    overflow: hidden;
    color: #fff;
}

.header-store > .title{
    font-family: Arial, 'Roboto', Verdana, sans-serif;
    font-size: 40px;
    float: left;
    text-transform: uppercase;
}

.header-store > .navigation-store{
    font-size: 21px;
    font-family: 'Segoe UI', 'Roboto', Verdana, sans-serif;
    float: right;
}

.navigation-store > .action{
    text-decoration: none;
    color: inherit; /*inherit está herdando do pai, nesse caso o header*/
    margin-right: 60px; /*Espaçamento entre os <a>*/
}

.navigation-store > .action.-last{
    margin-right: 0px;
}